include ../mixins/sub-menu.pug

header.header
    .container
        .row.align-items-center

            .col-4
                .inner-logo
                    a(href="/").d-flex.align-items-center
                        img(src="/images/pig-logo1.png", alt="Logo")
                        span.fw-bold.ms-2.text-pink ShoPhuongDT

            .col-4
                form(
                    action="/search"
                    method="GET"
                )
                    div(class="form-group d-flex mb-0 search-box-pink")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                        )

                        button(
                            type="submit"
                            class="btn btn-search-pink"
                        ) Tìm

            .col-4
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chủ

                        li(class="sub-menu")
                            - const pathProduct = "/products"
                            a(href=pathProduct) Sản phẩm
                            +sub-menu(layoutProductsCategory, pathProduct)

                        li
                            a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})

                        if (user)
                            li
                                a(href="/user/logout") Đăng xuất
                        else
                            li
                                a(href="/user/login") Đăng nhập

                            li
                                a(href="/user/register") Đăng ký