extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)

    .container.my-5
        .row.justify-content-center
            .col-md-6.col-lg-4
                h1.text-center.mb-4 Đăng nhập

                form(
                    action=`${prefixAdmin}/auth/login`
                    method="POST"
                )
                    .mb-3
                        label.form-label(for="email") Email

                        input.form-control(
                            type="email"
                            id="email"
                            name="email"
                        )

                    .mb-3
                        label.form-label(for="password") Mật khẩu

                        input.form-control(
                            type="password"
                            id="password"
                            name="password"
                        )

                    button.btn.btn-primary.w-100(
                        type="submit"
                    ) Đăng nhập