extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    h1.mb-4 Chỉnh sửa tài khoản

    +alert-error(5000)
    +alert-success(5000)

    if (roles)
        form(
            action=`${prefixAdmin}/accounts/edit/${data.id}?_method=PATCH`
            method="POST"
            enctype="multipart/form-data"
        )

            .mb-3
                label.form-label(for="fullName") Họ tên *
                input.form-control(
                    type="text"
                    id="fullName"
                    name="fullName"
                    value=data.fullName
                )

            .mb-3
                label.form-label(for="email") Email *
                input.form-control(
                    type="email"
                    id="email"
                    name="email"
                    value=data.email
                )

            .mb-3
                label.form-label(for="password") Mật khẩu *
                input.form-control(
                    type="password"
                    id="password"
                    name="password"
                )

            .mb-3
                label.form-label(for="phone") Số điện thoại
                input.form-control(
                    type="text"
                    id="phone"
                    name="phone"
                    value=data.phone
                )

            .mb-3(upload-image)
                label.form-label(for="avatar") Avatar

                input.form-control(
                    type="file"
                    id="avatar"
                    name="avatar"
                    accept="image/*"
                    upload-image-input
                )

                img.image-preview(
                    src=data.avatar
                    upload-image-preview
                )

            .mb-3
                label.form-label(for="role_id") Phân quyền

                select.form-select(
                    id="role_id"
                    name="role_id"
                )
                    option(value="" selected disabled) -- Chọn --
                    each item in roles
                        option(
                            value=item.id 
                            selected=(item.id == data.role_id ? true : false)
                        ) #{item.title}

            .form-check.form-check-inline.mb-3
                input.form-check-input(
                    type="radio"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked=(data.status == "active" ? true : false)
                )
                label.form-check-label(for="statusActive")
                    | Hoạt động

            .form-check.form-check-inline.mb-3
                input.form-check-input(
                    type="radio"
                    id="statusInActive"
                    name="status"
                    value="inactive"
                    checked=(data.status == "inactive" ? true : false)
                )
                label.form-check-label(for="statusInActive")
                    | Dừng hoạt động

            button.btn.btn-primary(
                type="submit"
            ) Chỉnh sửa 
    else
        p Vui lòng tạo nhóm quyền trước khi cập nhật tài khoản
        p   
            a(
                href=`${prefixAdmin}/roles/create`
                class="btn btn-secondary"
            ) Tạo nhóm quyền