extends ../../layouts/default.pug

block main 
    link(rel="stylesheet", href="/css/product-detail.css")

    .container.my-5 
        .product-detail-card
            .row 
                .col-md-5
                    .product-image-wrapper
                        if (product.thumbnail)
                            img.product-img(
                                src=product.thumbnail
                                alt=product.title
                            )
                        if (product.discountPercentage)
                            .discount-badge -#{product.discountPercentage}%

                .col-md-7
                    .product-info
                        if (product.title)
                            h1.product-title #{product.title}

                        .product-price-box
                            if (product.price)
                                if (product.discountPercentage)
                                    - var newPrice = (product.price * (100 - product.discountPercentage) / 100).toFixed(0)
                                    span.price-new #{newPrice}$
                                    span.price-old #{product.price}$
                                else
                                    span.price-new #{product.price}$

                        .product-stats
                            if (product.stock)
                                .stat-item
                                    span.stat-label 📦 Kho:
                                    span.stat-value #{product.stock} sản phẩm
                                    
                            if (product.position)
                                .stat-item
                                    span.stat-label 📍 Vị trí:
                                    span.stat-value #{product.position}

                        .action-buttons
                            button.btn.btn-cart-pink Thêm vào giỏ hàng 🛒

                        if (product.description)
                            .product-desc
                                h3.desc-title Mô tả sản phẩm
                                .desc-content
                                    | !{product.description}