extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-success(3000)

    link(rel="stylesheet", href="/css/product-detail.css")

    .container.my-5 
        .product-detail-card
            .row 
                .col-md-5
                    .product-image-wrapper
                        if (product.thumbnail)
                            img.product-img(
                                src=product.thumbnail
                                alt=product.title
                            )
                        if (product.discountPercentage)
                            .discount-badge -#{product.discountPercentage}%

                .col-md-7
                    .product-info
                        if (product.title)
                            h1.product-title #{product.title}

                        if (product.category)
                            .inner-category.mb-4
                                span.text-muted.fw-bold.me-2 Danh mục:
                                a.category-link(href=`/products/${product.category.slug}`) #{product.category.title}

                        .product-price-box
                            if (product.price)
                                if (product.discountPercentage)
                                    span.price-new #{product.newPrice}đ
                                    span.price-old #{product.price}đ
                                else
                                    span.price-new #{product.price}đ

                        .product-stats
                            if (product.stock)
                                .stat-item
                                    span.stat-label Kho:
                                    span.stat-value #{product.stock} sản phẩm
                                    
                            if (product.position)
                                .stat-item
                                    span.stat-label Vị trí:
                                    span.stat-value #{product.position}
                        
                        form(
                            action=`/cart/add/${product.id}`
                            method="POST"
                        )
                            .d-flex.align-items-center.gap-3.mb-4
                                input.form-control.input-quantity(
                                    type="number"
                                    name="quantity"
                                    value="1"
                                    min="1"
                                    max=product.stock
                                )
                                button.btn.btn-cart-pink.m-0(type="submit") Thêm vào giỏ hàng

                        if (product.description)
                            .product-desc
                                h3.desc-title Mô tả sản phẩm
                                .desc-content
                                    | !{product.description}