extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-5

        .row.mb-4
            .col-12
                +box-head("Danh sách sản phẩm")

        .row
            each item in products
                .col-lg-3.col-md-4.col-sm-6.mb-4

                    .product-item
                        .inner-image
                            a(href=`/products/${item.slug}`)
                                img(
                                    src=item.thumbnail
                                    alt=item.title
                                )

                            if item.discountPercentage
                                .inner-discount -#{item.discountPercentage}%

                        .inner-content
                            h3.inner-title-product  
                                a(
                                    href=`/products/${item.slug}`
                                ) #{item.title}

                            .inner-price
                                span.inner-price-new #{item.newPrice}$
                                span.inner-price-old #{item.price}$