extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-success(5000)
    +alert-error(5000)

    .container.my-5
        .row.mb-4
            .col-12
                +box-head("Giỏ hàng của bạn")

        .row
            .col-12
                .cart-card
                    table(class="table table-borderless cart-table align-middle mb-0")
                        thead
                            tr
                                th.text-center STT
                                th Ảnh
                                th Tên sản phẩm
                                th Đơn giá
                                th.text-center Số lượng
                                th Tổng tiền
                                th.text-center Hành động

                        tbody
                            if (cartDetail.products.length > 0)
                                each item, index in cartDetail.products
                                    tr
                                        td.text-center.fw-bold.text-muted #{index + 1}
                                        
                                        td
                                            img.cart-img(
                                                src=item.productInfo.thumbnail
                                                alt=item.productInfo.title
                                            )

                                        td
                                            a.cart-title-link(href=`/products/detail/${item.productInfo.slug}`) #{item.productInfo.title}

                                        td.fw-bold.text-pink #{item.productInfo.newPrice}đ

                                        td.text-center
                                            input.cart-input-qty(
                                                type="number"
                                                name="quantity"
                                                value=item.quantity
                                                min="1"
                                                product-id=item.product_id
                                            )

                                        td.fw-bold.text-danger.fs-5 #{item.totalPrice}đ

                                        td.text-center
                                            a.btn.btn-delete-pink(
                                                href=`/cart/delete/${item.product_id}`
                                            ) Xóa

                            else 
                                tr
                                    td(colspan="7" class="text-center py-5")
                                        .empty-cart-msg
                                            span.fs-1 🐷
                                            p.mt-2.text-muted Giỏ hàng đang trống trơn! Bé heo đói bụng...
                                            a.btn.btn-hero-pink.mt-3(href="/products") Mua sắm ngay

        if (cartDetail.products.length > 0)
            .row.mt-4
                .col-12
                    .cart-summary-box
                        h3.total-text
                            | Tổng đơn hàng: 
                            span.total-price #{cartDetail.totalPrice}đ
                        
                        div.mt-4
                            a.btn.btn-checkout-pink(
                                href="/checkout"
                            ) TIẾN HÀNH THANH TOÁN

    script(src="/js/cart.js")